.Pokecard {
  width: 275px;
  padding: 5px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  text-align: center;
  background-color: white;
  border-radius: 5px;
}

.Pokecard-data {
  font-size: 70%;
  font-weight: 600;
}

.Pokecard-image {
  height: 150px;
  transition: all ease 1000ms;
}

.Pokecard-image:hover {
  transform: scale(1.2);
  opacity: 0.7;
}

.Pokecard-hideCard {
  display: none;
}

.Pokecard-showCard {
  display: block;
}